/*
header{
    text-align: center;
    background-color: brown;
}
header,img{
    height: 1080px; ; width: 1850px; ;
}
*/
.header-menu{
      text-align: center;
}




.img-logo{
    height: 1080px; ; width: 1920px; ;
}